@import "./theme.css";
* {
  font-family: Arial, sans-serif;
}

html,body{
  background-color: rgb( var(--bg-color-body) );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main{
  width: 575px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: -1px
}

.display{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.enteries{
  background-color: var(--bg-color-entries);
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  padding: 10px;
  border-radius: 0 0 1rem 1rem;
}

.enteries > *{
  border-radius: 10px;
  font-size: calc(0.5vw + 0.5vh + 1.5vmin);
  font-weight: bolder;
  color: #fff;
  border: none;
  cursor: pointer;
} 

.input, #del, #clear{
  background-color: var(--btn-color-operator) ;
}

.number{
  background-color: var(--btn-color-number);
}

#equal{
  background-color: var(--btn-color-equal);
  grid-row: 4 / 6;
  grid-column: 5 / 6;
}

.enteries > .input:hover {
  background: var(--btn-color-number); 
}

.enteries > #del:hover {
  background: var(--btn-color-number); 
}

.enteries > #clear:hover {
  background: var(--btn-color-number); 
}

.enteries > .number:hover {
  background: var(--btn-color-number-hover); 
}

.enteries > #equal:hover {
  background: var(--btn-color-equal-hover); 
}


.log{
  background-color: var(--bg-color-log);
  flex: 2;
  border-radius: 1rem 1rem 0 0;
}

.entered{
  background-color: var(--bg-color-equation);
  flex: 0.5;
  display: flex;
  color: #fff;
  font-size: calc(0.5vw + 0.5vh + 1.5vmin);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
}

.logChild{
  display: flex;
  border-bottom: 1px solid var(--bg-color-entries);
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.logChild > * {
  font-size: calc(0.5vw + 0.5vh + 1.5vmin);
  color: #fff;
}

.equationHolder{
  display: flex;
}

